* {box-sizing: border-box;}

body{background:  url("../img/bg.jpg");
    background-size: cover;
}

/*************************         registar*/  
* { margin: 0px;}
        
        .outterContainer {
            display: grid;
            grid-template-columns: 50%;
            justify-content: center;
            align-items: center;
            width: 40%;
            /* height: 100%; */
            font-size: larger;
            text-align: center;
            margin: 10% 30%;
            background: rgba(255, 255, 255, 0.768);
            border-radius: 12px;
            box-shadow: 0px 10px 13px -7px #000000, 0px 1px 22px 10px #9b9a9a;
        }

        .front ,input {
            margin-bottom: 20px;
            font-size: 25px;
            text-align: center;
            border-radius: 5px;
            z-index: 1;
           
        }

        .f-w {
            width: 100%
        }

        .t-nav {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-weight: bold;
            width: 100%;height: 50px;
            color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 12px;
            z-index: 3;
            background-color: #525;
        }

        .t-nav img{padding-top:-10%;
            
        }
        .input-info{position: relative;}

        span .fa {font-size: 25px;
            position: absolute;
            color: #383E56;
            left: 41%;     ///*linkedin  + github   */       
            z-index: 2;
        }

        .t-nav div {
            padding-right: 20px;
        }

        .t-nav a {
            margin-right: 30px;
            padding:10px;
        }
 a{text-decoration: none;}
        a:visited {
            color: #fff;
        }

        nav a:hover {
            background:#6f4c5b7e;
            border-radius: 8px;
        }

        .logo {
            width: 60px;
            height: 60px;
            float: left;
            margin-top:-1%;
        }
        .logo:hover{box-shadow: 2px 2px 20px 2px #fff;border-radius: 30px;}
        .reg-btn {
        font-family: inherit;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #541212;
        background-color: #f9d9d9;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: rgba(79, 17, 17, 0.333);
        border-radius: 40px 40px 40px 40px;
        padding: 16px 24px 16px 28px;
        transition: 0.2s;
        box-shadow: -2px -2px 8px 1px #442020, 2px 2px 8px 1px rgba(60, 27, 24, 0.48);
        margin: 8px 0 ;
        }

.reg-btn:hover {
 color: #541212;
 background-color: #f9d9d9;
 box-shadow: -4px -4px 16px 1px #442020, 4px 4px 6px 1px rgba(60, 27, 24, 0.48);
}

.reg-btn:active {
 box-shadow: none;
}

.innerContainer span a {color:#000; z-index: index 4;top:30% }


.footer {
height: 60px;
width: 100%;
top:100%;
margin-bottom: 0;
 background-color: #525;
 color: white;
 font-family: 'Raleway', sans-serif;
left:10px;
display: flex;
}

.pf {padding-left: 20px;
          padding-top: 15px;}
.ota {padding:15px 0 0 0}

.otar {padding:15px 0 0 28%}


@media  (max-width:428px){
    body{background-repeat: no-repeat;
    font-size: small;}
.outterContainer{margin-top: 30%;
width:80%;
margin-left:8%;}
input{width:98%; font-size: 18px;}
div .fa{display:none}
.link {display: flex; flex-direction: row; font-size: 15px; padding-left: 20px;}
.logo{margin-top:-10px;}
} 

@media  (max-width:1024px){
    body{background-repeat: no-repeat;
    font-size: small;}
.outterContainer{margin-top: 30%;
width:80%;
margin-left:8%;}
input{width:70%; font-size: 18px;}
div .fa{display:none}
.link {display: flex; flex-direction: row; font-size: 15px; padding-left: 20px;}
.logo{margin-top:-10px;}
} 
/******************************************************         about*/
.about-cont{ margin-top: 6%;}
.about-cont h1{ color:#525;
     font-weight: bolder;
      text-shadow: #fff 1px 0 10px;
      font-size: 50px;
      text-align: center;
      animation-name: ota;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      cursor: zoom-in;}

      @keyframes ota {
        from{      text-shadow: #fff 10px 0 10px;
        }
        to {      text-shadow: #525 10px 0 10px;
        }
       
}
.info-box {
    display: grid;
    grid-template-columns:20% 50%;
    align-items: center;
    width: 40%;
    font-size: large;
    text-align: center;
    margin: 25px 30%;
    background: rgba(255, 255, 255, 0.644);
    /* border: #000 solid 2px; */
    border-radius: 12px;
    box-shadow: 0px 10px 13px -7px #000000, 0px 1px 22px 10px #9b9a9a;
}
input:focus{background: rgba(208, 208, 208, 0.533) ;}
.about-cont {
    width: 100%;
}
.team-pic {
    width: 100%;
    border-radius: 12px;
    padding:5px 3px 1px;
    margin-right: 600px;
}
.min-hei {height: 10%;}
.aya:hover{ background-color:#ff6b6b7e;}
.obada:hover{ background-color:#fdcb6f7d;} 
.tamara:hover{ background-color:#98d6e579;}
a .fa{font-size: 25px;}



@media  (max-width:428px){
    body{background-repeat: no-repeat;
    font-size: small;}

} 

/*******************************************************/