       /* /////////////////////////////////////navbar//////////////////////////////////////// */
       * {
        margin: 0px;
    }
    body{background:url("../img/bg.jpg");
        background-size: cover;
    }

    .burger {
        display: none;
        color: white;
        cursor: pointer;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        align-items: center;
        background-color: #525;
        height: 50px;
    }

    .nav .logo {
        color: white;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 5px;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #525;
    }


    .nav .items {
        align-items: center;
        flex-direction: line;
        display: flex;
        justify-content: space-around;
    }

    .nav .item {
        width: 100px;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #525;
        transition: all .3s ease;
    }

    .nav .item:hover {
        background-color: #636;
        transition: all .3s ease;
    }


    .item a {
        text-decoration: none;
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    @media (max-width: 600px) {
        .nav .items {
            transform: translateX(100%);
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            position: absolute;
            top: 50px;
            right: 0px;
            height: 70px;
            width: 100px;
            transition: all .3s ease;
        }

        .items .item {
            width: 100%;
            height: 100%;
        }

        .burger {
            display: block;
        }

    }

    #menu_btn {
        font-family: 'Raleway', sans-serif;

    }


    @media (min-width: 600px) {
        .nav .items {
            transform: translateX(0%) !important;

        }


    }

    /* ///////////////////////////////////////////content/////////////////////////////////////////// */
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        color: black;
        font-family: 'Raleway', sans-serif;


    }

    .h1 {
        font-size: 7vw;

    }

    .h3 {
        font-size: 2.3vw;
        padding-left: 70px;
        padding-right: 70px;

    }


    .front {
        height: 50px;
        width: 200px;
        text-align: center;
        background-color: rgba(20, 20, 20, 0.5);
        border: none;
        color: black;
        font-size: 18px;
        margin-top: 40px;
        border-radius: 5px;
        position: absolute;
        top: 60%;
        left: 37%;

    }

    .front:hover {
        background-color: rgba(104, 103, 103, 0.5);
    }


    .start {


        height: 50px;
        width: 125px;
        background-color: #525;
        border: none;
        color: black;
        font-size: 18px;
        margin-top: 40px;
        border-radius: 5px;
        position: absolute;
        top: 60%;
        left: 52%;


    }

    .start a {
        text-decoration: none;
        color: white;
    }

    .start:hover {
        background-color: #636;
    }

    /* ////////////////////////////////////Footer////////////////////////////////// */
    .footer {
        height: 50px;
        width: 100%;
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #525;
        color: white;
        font-family: 'Raleway', sans-serif;
        left: 0;
    }


    footer .pf {
        padding-left: 20px;
        padding-top: 15px;
    }